.accordion-item {
    width: 100%;
    
}
.accordion-header {
    background-color: #EDF2F6;
}
.accordion-button {
    background-color: #EDF2F6;
}
.accordion-body {
    list-style: circle;
    color: black;
    font-size: 16px;
}