.aboutCompany
    .aboutCompany__wrapper
        .aboutCompany__titleLink
            .aboutCompany__mainTitle
                a(href="index.html") Главная
            .aboutCompany__aboutUs О нас
        .aboutCompany__title О нас
        .aboutCompany__descrOne Официальный представитель производителей эксклюзивного электротранспорта и Смарт-Техники, Созданная в 2015 году компания Смарт-Техника стала одним из первых дистрибьютеров персонального электротранспорта в России и уже более трёх лет является официальным представителем таких производителей эксклюзивного электронного транспорта, как <span>Yamato, SmartONE, HALTEN</span>  и <span>Kugoo</span>
        h4.aboutCompany__titleTwo Постоянно растущая и развивающаяся Компания
        .aboutCompany__descrTwo На сегодняшней день Компания Смарт-Техника обладает собственным розничным магазинами в г.Санкт-Петербурге, официальными представительствами в различных районах г.СПб и Ленобласти, сетью складов в Петербурге, Москве и других крупных городах России. Мы постоянно растём и развиваемся. Доставка наших товаров осуществляется во все регионы Страны!
        h4.aboutCompany__titleTwo Самый большой выбор персонального электротранспорта
        .aboutCompany__descrOne Самый большой выбор персонального электротранспорта представлен в выставочных залах Смарт-Техника по адресам: <br> 
            <span>ул. Ленсовета 81;</span> 
            <br>
            <span>ул. Дыбенко 23к1;</span> 
            <br>
            <span>пр. Энгельса 113 к.2.</span> 
            <br> Расширение ассортимента происходит стабильно раз в полгода, и вы всегда найдёте у нас самые эксклюзивные модели электронного транспорта нового поколения!
    .aboutCompany__imgBlock
        h4.aboutCompany__product Всегда в наличии большой выбор:
        .aboutCompany__listProduct
            .aboutCompany__itemList
                img(src="./assets/icons/aboutCompany/gyroscooter.png" alt="gyroscooter")
                div гироскутеров
            .aboutCompany__itemList
                img(src="./assets/icons/aboutCompany/sygway.png" alt="sygway")
                div сигвеев и мини сигвеев
            .aboutCompany__itemList
                img(src="./assets/icons/aboutCompany/electroscooter.png" alt="electroscooter")
                div электросамокатов, стандартных и полноприводных
            .aboutCompany__itemList
                img(src="./assets/icons/aboutCompany/scate.png" alt="scate")
                div электроскейтов
            .aboutCompany__itemList
                img(src="./assets/icons/aboutCompany/elbicycle.png" alt="elbicycle")
                div электровелосипедов
            .aboutCompany__itemList
                img(src="./assets/icons/aboutCompany/more.png" alt="more")
                div и многое другое
    .aboutCompany__wrapper
        h4.aboutCompany__titleTwo Опытный и высоко<br>квалифицированный персонал
        .aboutCompany__descrTwo В компании работают опытные высококвалифицированные сотрудники, всегда готовые помочь вам с выбором персонального транспортного средства, ответить на все возможные вопросы и научить кататься на выбранной вами модели
        h4.aboutCompany__titleTwo Возможность тест драйва
        .aboutCompany__descrTwo Благодаря месторасположению и инфраструктуре, прилегающей к магазинам территорий, наши посетители могут перед оформлением покупки пройти тест-драйв на любом из представленных в зале транспортных средств.Для тест-драйва крупной техники необходима предварительная запись. Её можно осуществить по телефону: 
            <a href="tel:+7(812) 509-23-43">+7(812) 509-23-43</a> или <span>через консультанта в магазине</span>.
        h4.aboutCompany__titleTwo Цель и миссия компании Смарт-Техника.рф
        .aboutCompany__descrTwo 
            <span>Цель компании Смарт Техника</span> — в 2020 году стать самым крупным магазином по продаже персонального электротранспорта в Санкт-Петербурге. А также открывать свои филиалы во всех крупных городах России, что происходит уже сейчас.
                    <br>
                    <span>Миссия компании Смарт Техника</span> — познакомить россиян с экологически чистыми видами транспорта и улучшить экологию Страны! Мы надеемся не просто привить нашей нации любовь к ЭКО-транспорту, а создать в стране новую культуру передвижения.
        .aboutCompany__title Мы всегда рады взаимовыгодному сотрудничеству. 
            <br> Свои предложения отправляйте 
                <span><a href="mailto:smartfamily.info@yandex.ru">smartfamily.info@yandex.ru</a></span></h2>
