.catalogMain
    .catalogMain__wrapper
        .catalogMain__titleLink
            .catalogMain__mainTitle
                a(href="index.html") Главная
            .catalogMain__catalog 
                a(href="catalog.html") Каталог
            .catalogMain__item
        .catalogMain__title Каталог
        .catalogBlock
            .catalogBlock__a
                button.catalogBlockA__btn Фильтры
                .catalogBlock__aWrapper
            .catalogBlock__b
            .catalogBlock__c
                .dropdown
                    button(class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false") По умолчанию
                    ul.dropdown-menu
                        li
                            div(class="dropdown-item") Сначала дорогие
                        li
                            div(class="dropdown-item") Сначала недорогие
                        li
                            div(class="dropdown-item") По умолчанию
            .catalogBlock__d
                
