.aboutCompany
    .aboutCompany__wrapper
        .aboutCompany__titleLink
            .aboutCompany__mainTitle
                a(href="index.html") Главная
            .aboutCompany__aboutUs Контакты
        .aboutCompany__title Контакты
        .contacts 
            .contacts__table 
                //- .smallBlock
                //-     div(class="contacts__cart")
                //-     div(class="contacts__adress") 
                //-         .contacts__one.adress
                //-             p СПб, Ул. Дыбенко д.23 к.1
                //-             span +7 (812) 509-23-43
                //-         .contacts__two.adress 
                //-             p СПб, Пр. Энгельса д.113 к.2
                //-             span +7 (812) 509-23-43
                //-         .contacts__three.adress 
                //-             p СПб, Ул. Ленсовета д.81
                //-             span +7 (812) 602-74-02
                //-         .contacts__four.adress 
                //-             p СПб, ул. Тарасова д.10
                //-             span +7 (967) 555-01-06
                //-         .contacts__line
                //-         a(class="contacts__email" href="mailto:smart-tekhnika@gmail.com") smart-tekhnika@gmail.com
                //-         .contacts__timeWork Режим работы
                //-         .contacts__time Пн-вс с 10:00 до 21:00
                //- .bigBlock 
                //-     .contacts__adress 
                //-         .contacts__one.adress
                //-             p СПб, Ул. Дыбенко д.23 к.1
                //-             span +7 (812) 509-23-43
                //-         .contacts__two.adress 
                //-             p СПб, Пр. Энгельса д.113 к.2
                //-             span +7 (812) 509-23-43
                //-         .contacts__three.adress 
                //-             p СПб, Ул. Ленсовета д.81
                //-             span +7 (812) 602-74-02
                //-         .contacts__four.adress 
                //-             p СПб, ул. Тарасова д.10
                //-             span +7 (967) 555-01-06
                //-         .contacts__line
                //-         a(class="contacts__email" href="mailto:smart-tekhnika@gmail.com") smart-tekhnika@gmail.com
                //-         .contacts__timeWork Режим работы
                //-         .contacts__time Пн-вс с 10:00 до 21:00
                //-     .contacts__cart
            form.contacts__form
                .contacts__formTitle Связаться с нами
                .contacts__formOneRow   
                    .contacts__left 
                        .contacts__name 
                            input(class="contacts__nameInput" name="name" placeholder="Введите имя")
                            label(for="name" class="contacts__labelName") Имя 
                        .contacts__phone 
                            input(class="contacts__phoneInput" name="tel" type="phone" placeholder="Введите номер телефон")
                            label(for="name" class="contacts__labelPhone") Телефон 
                    .contacts__right 
                        textarea(class="contacts__textInput" name="text" type="textarea" placeholder="Введите сообщение") 
                        label(for="text" class="contacts__labelText") Сообщение
                .contacts__buttonBlock 
                    button(class="contacts__btn" type="submit") Отправить
                    .contacts__politicsBlock 
                        input(class="contacts__potitics" type="checkbox" name="politics" requred)  
                        label(for="politics" class="contacts__potiticsLabel") Отправляя данную форму вы соглашаетесь с политикой конфиденциальности
                        
