.drop
    .drop__wrapper
        .drop__titleLink
            .drop__mainTitle
                a(href="index.html") Главная
            .drop__service Дропшиппинг
        h1.drop__title Дропшиппинг
        .drop__descr Хотите начать прибыльный бизнес с минимальными вложениями? Предлагаем стать нашим партнёром на основе дропшипинга! Вы сможете продавать десятки моделей гироскутеров, моноколёс, мини-сигвеев и электросамокатов на своём сайте, не заботясь о закупке товара и организации доставки. <br>Дропшипинг – это модель продаж, в которой вы через свой сайт привлекаете клиентов и продаёте им товар, а обработка заказов производится крупным партнёром. Ваши вложения ограничиваются созданием и продвижением интернет-сайта.
            ul Продажа гироскутеров на основе дропшиппинга строится следующим образом: 
                li Вы создаёте сайт, на котором продаёте гироскутеры, представленные в нашем магазине. Весь наш ассортимент – в вашем распоряжении. Ваша задача сводится к продвижению своего сайта и привлечению покупателей. 
                li Покупателей вы перенаправляете к нам. Мы организуем доставку и приём оплаты. 
                li Вы получаете свой процент от совершённой покупки.
            .drop__description <span>Модель дропшиппинга позволяет начать своё дело даже новичку в бизнесе. </span><br>Вам не нужно вкладывать деньги в товар, заключать договоры с производителями, договариваться о доставке и растаможке. Вам не потребуются ни склады, ни торговые помещения, ни персонал. Создать интернет-магазин гироскутеров на основе дропшиппинга – несложно и недорого! 
        h2.drop__formTitle Заполните форму и мы свяжемся с вами
        form.drop__form
            .drop__formOneRow   
                .drop__left 
                    .drop__name 
                        input(class="drop__nameInput" name="name" placeholder="Введите имя")
                        label(for="name" class="drop__labelName") Имя 
                    .drop__phone 
                        input(class="drop__phoneInput" name="tel" type="phone" placeholder="Введите номер телефон")
                        label(for="name" class="drop__labelPhone") Телефон 
                .drop__right 
                    textarea(class="drop__textInput" name="text" type="textarea" placeholder="Введите сообщение") 
                    label(for="text" class="drop__labelText") Сообщение
            .drop__buttonBlock 
                button(class="drop__btn" type="submit") Отправить
                .drop__politicsBlock 
                    input(class="drop__potitics" type="checkbox" name="politics" requred)  
                    label(for="politics" class="drop__potiticsLabel") Отправляя данную форму вы соглашаетесь с политикой конфиденциальности
                    