.desktop__wrapper
    .desltop__main
        .bestsalesBlock
            .bestsales
                .bestsales__title Хиты продаж
                div(data-id = "all" class="bestsales__all") Все товары
            .bestsalesCard  
        .newProduct
            .bestsales
                .bestsales__title Новинки
                div(data-id = "new" class="bestsales__all") Все товары
            .bestsalesCard 
        .advertisingBlockOne
            .advertisingBlockOne__left
                .advertisingBlockOne__title Скидки до 30% на сигвеи
                img(class="advertisingBlockOne__img" src="./assets/img/main/advertising/scooter.png" alt="scooter")  
            .advertisingBlockOne__right
                .advertisingBlockOne__title Неделя смарт часов
                img(class="advertisingBlockOne__img" src="./assets/img/main/advertising/watch.png" alt="watch")    
        .sygway
            .bestsales
                .bestsales__title Сигвеи
                div(data-id = "new" class="bestsales__all") Все товары 
            .bestsalesCard
        .monowheel
            .bestsales
                .bestsales__title Моноколеса
                div(data-id = "new" class="bestsales__all") Все товары
            .bestsalesCard
        .advertisingBlockOne
            .advertisingBlockOne__left
                .advertisingBlockOne__title Скидки до 30% на сигвеи
                img(class="advertisingBlockOne__img" src="./assets/img/main/advertising/scooter.png" alt="scooter")  
            .advertisingBlockOne__right
                .advertisingBlockOne__title Неделя смарт часов
                img(class="advertisingBlockOne__img" src="./assets/img/main/advertising/watch.png" alt="watch")    
        .sygway
            .bestsales
                .bestsales__title Сигвеи
                div(data-id = "new" class="bestsales__all") Все товары 
            .bestsalesCard
        .monowheel
            .bestsales
                .bestsales__title Моноколеса
                div(data-id = "new" class="bestsales__all") Все товары
            .bestsalesCard
        .advertisingBlockOne
            .advertisingBlockOne__left
                div(class="advertisingBlockOne__title percent") Распродажа до — 50%
                img(class="advertisingBlockOne__img percentImg" src="./assets/img/main/advertising/percent.png" alt="percent")
            .advertisingBlockOne__right
                .advertisingBlockOne__premium Smart Balance Premium по специальной цене
                img(class="advertisingBlockOne__img premiumImg" src="./assets/img/main/advertising/scooter01.png" alt="scooter01")   
        .electrobycicle
            .bestsales
                .bestsales__title Электровелосипеды
                div(data-id = "new" class="bestsales__all") Все товары
            .bestsalesCard
        .newsBlock
            .newsBlock__header
                .newsBlock__title Новости
                div(data-id = "newsBlock" class="newsBlock__all")
        .newsBlock__informations
            .newsBlock__left
                .newsBlock__title Открытие нового магазина
                .newsBlock__descr Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения
                .newsBlock__footer 
                    .newsBlock__moreDetailed Подробнее
                    .newsBlock__date 05 июня 2021
            .infoBlock__right
                .infoBlock__title Работа в праздничные дни
                .infoBlock__descr Принимая во внимание показатели успешности, социально-экономическое развитие играет определяющее значение для вывода текущих активов
                .infoBlock__footer
                    .infoBlock__moreDetailed Подробнее
                    .infoBlock__date 05 июня 2021