.opt
    .opt__wrapper
        .opt__titleLink
            .opt__mainTitle
                a(href="index.html") Главная
            .opt__service Оптом
        h1.opt__title Оптом
        .opt__descr 
            ul Наш интернет-магазин специализируется на продаже различных моделей электротранспорта:
                li гироскутеров
                li мини-сигвеев 
                li моноколёс 
                li электросамокатов
            .opt__description Мы продаём гироскутеры как в розницу, так и оптом, по специальным ценам. Приглашаем к сотрудничеству оптовых покупателей! <br><br>Вы хотите купить гироскутер в Москве оптом? Познакомьтесь с нашими оптовыми ценами, и вы убедитесь: наше предложение действительно выгодное. С нами сотрудничают десятки партнёров в Москве и регионах, закупая гироскутеры оптом: цена намного ниже розничной, что позволяет получать хороший доход от бизнеса.<br><br> Продавая гироскутеры оптом в Москве, мы готовы организовать доставку любых моделей и в регионы России. Сотрудничайте с нами – это выгодно!<br><br>Самые выгодные цены - от 5000 руб.!
        h2.opt__formTitle Заполните форму и мы свяжемся с вами
        form.opt__form
            .opt__formOneRow   
                .opt__left 
                    .opt__name 
                        input(class="opt__nameInput" name="name" placeholder="Введите имя")
                        label(for="name" class="opt__labelName") Имя 
                    .opt__phone 
                        input(class="opt__phoneInput" name="tel" type="phone" placeholder="Введите номер телефон")
                        label(for="name" class="opt__labelPhone") Телефон 
                .opt__right 
                    textarea(class="opt__textInput" name="text" type="textarea" placeholder="Введите сообщение") 
                    label(for="text" class="opt__labelText") Сообщение
            .opt__buttonBlock 
                button(class="opt__btn" type="submit") Отправить
                .opt__politicsBlock 
                    input(class="opt__potitics" type="checkbox" name="politics" requred)  
                    label(for="politics" class="opt__potiticsLabel") Отправляя данную форму вы соглашаетесь с политикой конфиденциальности
                    