.stocks
    .stocks__wrapper
        .stocks__titleLink
            .stocks__mainTitle
                a(href="index.html") Главная
            .stocks__aboutUsItem
                a(class="stocks__link" href="stocks.html") Акции
            .stocks__aboutUsTitle
        .stocks__aboutUsTitle320
        h2.stocks__stocks 
        .stocks__container 
            .stocks__leftContainer 
            .stocks__rightContainer 