.stocks
    .stocks__wrapper
        .stocks__titleLink
            .stocks__mainTitle
                a(href="index.html") Главная
            .stocks__aboutUs Акции
        h2.stocks__stocks Акции
        .stocks__pageStocks
        .stocks__btn
            .stocks__prevArrow 
            .stocks__itemOne 
            .stocks__itemTwo 
            .stocks__itemThree 
            .stocks__dotted . . .
            .stocks__itemLast
            .stocks__nextArrow
