.vacancy
    .vacancy__wrapper
        .vacancy__titleLink
            .vacancy__mainTitle
                a(href="index.html") Главная
            .vacancy__service Вакансии
        h1.vacancy__title Вакансии
        .vacancy__block 
            .vacancy__blockLeft 
                div(class="accordion" id="accordionExample")
            .vacancy__blockRight
                form.vacancy__form
                    .vacancy__formTitle Присоединяйся к команде   
                    .vacancy__name 
                        input(class="vacancy__nameInput" name="name" placeholder="Введите имя")
                        label(for="name" class="vacancy__labelName") Имя 
                    .vacancy__surname 
                        input(class="vacancy__surnameInput" name="surname" placeholder="Введите фамилию")
                        label(for="name" class="vacancy__labelSurname") Фамилия
                    .vacancy__patronymic 
                        input(class="vacancy__patronymicInput" name="patronymic" placeholder="Введите отчество")
                        label(for="name" class="vacancy__labelPatronymic") Отчество
                    .vacancy__phone 
                        input(class="vacancy__phoneInput" name="tel" type="phone" placeholder="Введите номер телефон")
                        label(for="name" class="vacancy__labelPhone") Телефон 
                    .vacancy__file 
                        input(class="vacancy__fileInput" name="file" type="file" placeholder="Введите номер телефон" accept="application/pdf,application/msword,docx")
                        label(for="file" class="vacancy__labelFile") Добавьте файл резюме
                        .vacancy__fileDescr Форматы файлов: .pdf, .doc, .docx
                    .vacancy__textArea
                        textarea(class="vacancy__textInput" name="text" type="textarea" placeholder="Введите сообщение") 
                        label(for="text" class="vacancy__labelText") Сопроводительное письмо
                    .vacancy__buttonBlock 
                        button(class="vacancy__btn" type="submit") Отправить
                    .vacancy__politicsBlock 
                        input(class="vacancy__potitics" type="checkbox" name="politics" requred)  
                        label(for="politics" class="vacancy__potiticsLabel") Отправляя данную форму вы соглашаетесь с политикой конфиденциальности
                    .vacancy__line
                    .vacancy__hr Номер отдела кадров
                    a(href="tel:+79960670096" class="vacancy__phoneNumber") +7 (996) 067-00-96
                form.vacancy__form768
                    .vacancy__formTitle Присоединяйся к команде   
                    .vacancy__oneRowBlock 
                        .vacancy__name 
                            input(class="vacancy__nameInput" name="name" placeholder="Введите имя")
                            label(for="name" class="vacancy__labelName") Имя 
                        .vacancy__surname 
                            input(class="vacancy__surnameInput" name="surname" placeholder="Введите фамилию")
                            label(for="name" class="vacancy__labelSurname") Фамилия
                    .vacancy__twoRowBlock 
                        .vacancy__patronymic 
                            input(class="vacancy__patronymicInput" name="patronymic" placeholder="Введите отчество")
                            label(for="name" class="vacancy__labelPatronymic") Отчество
                        .vacancy__phone 
                            input(class="vacancy__phoneInput" name="tel" type="phone" placeholder="Введите номер телефон")
                            label(for="name" class="vacancy__labelPhone") Телефон 
                    .vacancy__threeRowBlock 
                        .vacancy__file 
                            input(class="vacancy__fileInput" name="file" type="file" placeholder="Введите номер телефон" accept="application/pdf,application/msword,docx")
                            label(for="file" class="vacancy__labelFile") Добавьте файл резюме
                            .vacancy__fileDescr Форматы файлов: .pdf, .doc, .docx
                        .vacancy__textArea
                            textarea(class="vacancy__textInput" name="text" type="textarea" placeholder="Введите сообщение") 
                            label(for="text" class="vacancy__labelText") Сопроводительное письмо
                    .vacancy__buttonBlock 
                        button(class="vacancy__btn" type="submit") Отправить
                    .vacancy__politicsBlock 
                        input(class="vacancy__potitics" type="checkbox" name="politics" requred)  
                        label(for="politics" class="vacancy__potiticsLabel") Отправляя данную форму вы соглашаетесь с политикой конфиденциальности
                    .vacancy__line
                    .vacancy__hr Номер отдела кадров
                    a(href="tel:+79960670096" class="vacancy__phoneNumber") +7 (996) 067-00-96