.footer 
    .footer__wrapper
        .footer__topBlock
            .footer__columnOne
                a(href="index.html")
                    img(title="icon" src="assets/icons/navbar/logo.png" class="navbar__icon")
                a(class="navbar__tel1 medium" href="tel:+78126605054") +7 (812) 660-50-54
                a(class="navbar__tel2 medium" href="tel:+79581119503") +7 (958) 111-95-03
                div(class="navbar__schedule medium") Пн-вс: с 10:00 до 21:00
                div(class="footer__adress") Проспект Стачек 67 к.5 <br> Лиговский проспект 205 <br>Гражданский проспект, 116 к.5
                .footer__medium
                    .footer__store О магазине
                    .footer__rewievs Отзывы
                    .footer__our Наши преимущества
                    .footer__history История компании
                    .footer__cooperation Сотрудничество
                    .footer__partners Партнёрская программа
                    .footer__vacancy 
                        a(href="vacancy.html") Вакансии
                .footer__small
                    .footer__client Для клиента
                    .footer__buy Как купить
                    .footer__delivery Доставка и оплата
                    .footer__credit Кредит
                    .footer__politics Политика конфиденциальности
                    .footer__faq Вопросы и ответы (F.A.Q.)
                    .footer__service Сервис и гарантия
                .footer__small
                    .footer__cooperationTitle Сотрудничество
                    .footer__opt Оптом
                    .footer__dropshipping Дропшиппинг
            .footer__columnTwo
                .footer__client Для клиента
                .footer__buy Как купить
                .footer__delivery Доставка и оплата
                .footer__credit Кредит
                .footer__politics Политика конфиденциальности
                .footer__faq Вопросы и ответы (F.A.Q.)
                .footer__service Сервис и гарантия
                .footer__medium
                    .footer__cooperationTitle Сотрудничество
                    .footer__opt Оптом
                    .footer__dropshipping Дропшиппинг
            .footer__columnThree
                div(class="footer__store") О магазине
                div(class="footer__rewievs") Отзывы
                div(class="footer__our") Наши преимущества
                div(class="footer__history") История компании
                div(class="footer__cooperation") Сотрудничество
                div(class="footer__partners") Партнёрская программа
                div(class="footer__vacancy")
                    a(href="vacancy.html") Вакансии
            .footer__columnFour
                div(class="footer__cooperationTitle") Сотрудничество
                div(class="footer__opt") 
                    a(class="opt" href="opt.html") Оптом
                div(class="footer__dropshipping") 
                    a(class="drop" href="drop.html") Дропшиппинг
        .footer__bottomBlock
            div(class="footer__socialNetworks footer__socialNetworks_small")
                img(class="footer__twitter" src="./assets/icons/footer/twitter.png" alt="twitter")
                img(class="footer__facebook" src="./assets/icons/footer/facebook.png" alt="facebook")
                div(class="footer__vkBlock")
                    img(class="footer__vk" src="./assets/icons/footer/vk.png" alt="vk")
                div(class="footer__instaBlock")
                    img(class="footer__insta" src="./assets/icons/footer/incta.png" alt="instagram")
            .footer__rights
                div SmartТехника © 2021 Все права защищены
                .footer__medium Разработка: websl.ru
            .footer__socialNetworks
                img(class="footer__twitter" src="./assets/icons/footer/twitter.png" alt="twitter")
                img(class="footer__facebook" src="./assets/icons/footer/facebook.png" alt="facebook")
                div(class="footer__vkBlock")
                    img(class="footer__vk" src="./assets/icons/footer/vk.png" alt="vk")
                div(class="footer__instaBlock")
                    img(class="footer__insta" src="./assets/icons/footer/incta.png" alt="instagram")
            .footer__produce Разработка: websl.ru