.navbar 
    .navbar__wrapper
        a(rel="stylesheet" href="index.html") 
            img(title="icon" src="assets/icons/navbar/logo.png").navbar__icon 
        a(href="tel:+78126605054").navbar__tel1 +7 (812) 660-50-54
        a(href="tel:+79581119503").navbar__tel2 +7 (958) 111-95-03
        .navbar__schedule Пн-вс: с 10:00 до 21:00
        .navbar__input
            img(src="assets/icons/navbar/search-icon.png" alt="search-icon").navbar__search
            form(action="")
                input(type="text" placeholder="Поиск")
        .navbar__exit
        img(src="assets/icons/navbar/eye=empty.png" alt="search-eye").navbar__eye
        img(src="assets/icons/navbar/like=like.png" alt="like").navbar__like
        img(src="assets/icons/navbar/compare=compare.png" alt="compare").navbar__compare
        img(src="assets/icons/navbar/cart=empty.png" alt="cart").navbar__cart
        div.navbar__btnEnter Войти
.subnavbar
    .subnavbar__wrapper
        ul.subnavbar__menu
             li.subnavbar__catalog
                .subnavbar__title Каталог товаров
                ul.subnavbar__catalogItem
                    li.subnavbar__gir Гироскутеры
                    li.subnavbar__ele Электросамокаты
                    li.subnavbar__mono Моноколеса
                    li.subnavbar__sigway Сигвеи и мини-сигвеи
                    li.subnavbar__scooter Электроскутеры
                    li.subnavbar__bicycle Электровелосипеды
                    li.subnavbar__scate Электроскейты
                    li.subnavbar__avto Электромобили
                    li.subnavbar__accessories Аксессуары
                    li.subnavbar__smartToy Умные игрушки
                    li.subnavbar__smartWatch Smart Watch
             li.subnavbar__about
                 a(href="aboutCompany.html") О компании
             li.subnavbar__stock
                 a(href="stocks.html") Акции
             li.subnavbar__installmentPlan 
                a(href="installment.html") Рассрочка 0|0|18
             li.subnavbar__service 
                a(href="service.html") Сервис и гарантия
             li.subnavbar__opt 
                a(class="opt" href="opt.html") Опт/
                a(class="drop" href="drop.html") дропшиппинг
             li.subnavbar__contacts 
                a(href="contacts.html") Контакты
.subnavbar768
    img(class="subnavbar768__main" src="./assets/icons/768/home.png" alt="main")
    img(class="subnavbar768__catalog" src="./assets/icons/768/catalog.png" alt="catalog")
    img(class="subnavbar768__cart" src="./assets/icons/768/cart.png" alt="cart")
    img(class="subnavbar768__search" src="./assets/icons/768/search.png" alt="search")
    img(class="subnavbar768__more" src="./assets/icons/768/more.png" alt="more")
    .catalog 
        .catalog__row 
            .catalog__title Каталог
            img(class="catalog__x" src="./assets/icons/768/X.png" alt="close")
        .catalog__list
            .catalog__item 
                img(src="./assets/icons/768/gyroscooter.png" alt="gyroscooter")
                div.gyroscooter Гироскутеры 
            .catalog__item 
                img(src="./assets/icons/768/scooter.png" alt="scooter")
                div.scooter Электросамокаты
            .catalog__item 
                img(src="./assets/icons/768/mono.png" alt="mono")
                div.mono Моноколеса
            .catalog__item 
                img(src="./assets/icons/768/sigway.png" alt="sigway")
                div.sigway Сигвеи и мини-сигвеи
            .catalog__item 
                img(src="./assets/icons/768/electroscooter.png" alt="electroscooter")
                div.electroscooter Электроскутеры
            .catalog__item 
                img(src="./assets/icons/768/electrobicycle.png" alt="electrobicycle")
                div.electrobicycle Электровелосипеды
            .catalog__item 
                img(src="./assets/icons/768/electroavtomobile.png" alt="electroavtomobile")
                div.electroavtomobile Электромобили
            .catalog__item 
                img(src="./assets/icons/768/electroskeit.png" alt="electroskeit")
                div.electroskeit Электроскейты
            .catalog__item 
                img(src="./assets/icons/768/accessories.png" alt="accessories")
                div.accessories Аксессуары
            .catalog__item 
                img(src="./assets/icons/768/smartToys.png" alt="smartToys")
                div.smartToys Умные игрушки
            .catalog__item 
                img(src="./assets/icons/768/smartWatch.png" alt="smartWatch")
                div.smartWatch Smart Watch
    .more   
        .more__row 
            .more__title Ещё
            img(class="more__x" src="./assets/icons/768/X.png" alt="close")
        .more__list
            div.more__aboutCompany О компании 
            div.more__actions Акции
            div.more__0012
                a(href="installment.html") Рассрочка 0|0|18
            div.more__service
                a(href="service.html") Сервис и гарантия
            div.more__opt 
                a(class="opt" href="opt.html") Опт/
                a(class="drop" href="drop.html") дропшиппинг
            div.more__contacts 
                a(href="contacts.html") Контакты
    .search 
        .search__row 
            .search__title Поиск
            img(class="search__x" src="./assets/icons/768/X.png" alt="close")
        form(action="" id="formData")
            input(type="text" placeholder="Введите запрос, например «Smart balance»" class="search__input" name="info" value="")
        




